.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #5161eb;
  color: white;
  border-bottom: 2px solid #c8dbdf;
}

.header h1 {
  font-size: 1.8rem;
  margin: 0;
}

.header-icons {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s;
}

.icon:hover {
  color: #00af91; /* Highlight color on hover */
}
