form{
  display: flex;
  flex-direction: column;
  gap:5px;
}

form>input, form>textarea{
  width: min-content;
}

input,
textarea {
  border-radius: 7px;
  max-width: 85%;
  border: 1px solid #c8dbdf;
  padding: 7px;
  margin-top: 10px;
  background-color: #d8e1e4;
  padding-top: 10px;
  &:focus {
    border: 1px solid #5161eb;
  }
}


input:hover,
textarea:hover {
  border: 1px solid #5161eb;
}

form{
  

}




