/* General Reset */
body, html, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  height: 100%;
}

/* Container Styles */
.container {
  background-color: #acbedb;
  padding: 20px;
  display: flex;
  flex-direction: column;

}

/* Common Component Styles */
.personal-info,
.education,
.work-experience {
  
  margin-bottom: 10px; /* Add spacing between components */
  border: 1px solid #202525; /* Optional: borders for individual components */
  border-radius: 5px;
  background-color: #eaf2f4;
}


@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  
  .test {
    width: 50%;
  
}
}

.test{
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}   
